@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

/* * {
  outline: 1px solid red;
} */

html, body, #root, .app {
  font-family: "Rubik", "Montserrat", "Roboto", sans-serif;
}

::selection {
  background: #1A782B;
}